html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 18px;
  margin: 0 150px;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
/*Header start*/

.header__menu-row {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 50px;
  background-color: #98a6b3;
  color: white;
  border-radius: 50px 50px 0px 0px;
}
.header__item-hover {
  transition: 0.5s;
}

.header__item-hover:hover {
  color: #022847;
  cursor: pointer;
  transition: 0.5s;
}

/*Header end*/

/*Main start*/
.main {
  background-color: #022847;
}
.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/*Aside start*/
.aside_blue-column {
  margin: 0 10px;
  background-color: #022847;
  color: white;
  display: flex;
  flex-direction: column;
}

.aside__img-around {
  box-shadow: 5px 1px 10px 1px white;
  border-radius: 50%;
}

.aside__item-big-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
  transition: 0.3s;
}

.aside__title-underline {
  margin: 15px 0 0 10px;
  width: max-content;
  border-bottom: 0.3rem solid white;
  border-radius: 5px;
}

/*Aside end*/

/*Section start*/
.section {
  margin-top: 10px;
  border-radius: 30px 100px / 120px;
  background-color: white;
}

.section-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__title-underline {
  margin-left: 20px;
  border-bottom: 0.5rem solid #022847;
  width: 30%;
  border-radius: 0 10px 0 10px;
}

.section__text-none {
  list-style: none;
  margin: 0;
  padding: 0 50px;
}

.section__table-center {
  margin: 0 auto;
}

th,
td {
  padding: 5px 30px;
  text-align: center;
}

.section__list-flex-row {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  transition: 0.5s;
  gap: 10px;
}

.section__item-hover:hover {
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 1px 0px 5px 1px #022847;
}

.certificates__list-flex-none {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.certificates__item-hover:hover {
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 1px 0px 5px 1px #022847;
}

.section__list {
    padding: 0;
    list-style: none;
}

.description__title,
.certificates__title,
.codewars__title {
    margin-left: 20px;
}

.section__code-grey-absolute {
  background-color: grey;
}

/*Section end*/

/*Main End*/

.certificates__img {
  width: 200px;
  height: 120px;
}

.section__img {
  width: 200px;
  height: 120px;
}
